backend/db
db.sqlite3
pgadmin
.venv
__pycache__
node_modules
.output
.vercel
/.svelte-kit
/build
.DS_Store
Thumbs.db

# .env
# .env.*
# !.env.example
# !.env.test

vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.output
.data
.nuxt
.nitro
.cache
cache
dist
node_modules
logs
*.log
.DS_Store
.fleet
.idea
.vscode